#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.payment-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.form-input {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}